###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea

/tools/php-cs-fixer/vendor/
/tools/php-cs-fixer/composer.lock
/.php-cs-fixer.cache
